body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.title_movie {
  text-align: center;
  margin-top: 5vh;
  color: #ff8c00;
}

.title_name {
  color: aliceblue;
  font-size: 2vh;
  margin: 5px 0;
}

.note {
  color: burlywood;
  font-size: 2vh;
  margin: 0;
}

.cadr {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5vh;
  justify-content: center; /* Centrer les éléments */
}

.card_movie {
  flex: 0 0 18%; /* Taille initiale pour les grands écrans */
  text-align: center;
}

.img_movie, .img_serie {
  width: 75%;
  border-radius: 10px;
}
.list-icon {
  fill: #d7b854; /* Couleur pour l'icône de la liste */
  cursor: pointer;
}

.favoris-icon {
  fill: #f10505; /* Couleur pour l'icône des favoris */
  cursor: pointer;
}


@media (max-width: 1200px) {
  .card_movie {
    flex: 0 0 30%; /* Ajuste la taille sur les écrans moyens */
  }
}

@media (max-width: 768px) {
  .card_movie {
    flex: 0 0 45%; /* Taille pour tablettes */
  }
}

@media (max-width: 500px) {
  .card_movie {
    flex: 0 0 100%; /* Une carte par ligne sur petits écrans */
  }

  .img_movie, .img_serie {
    width: 90%; /* Image plus grande sur petits écrans */
  }

  .title_name {
    font-size: 2vh; /* Agrandir le titre pour lisibilité */
  }

  .note {
    font-size: 2vh; /* Ajuster la taille de la note */
  }
}
