
.nav-link, .navbar-brand {
    color: #ffffff !important; /* Texte en blanc */
}
.dropdown-menu {
    background-color: #000000 !important; /* Fond noir pour le menu déroulant */
}
.dropdown-item {
    color: #ffffff !important; /* Texte en blanc pour les items du menu déroulant */
}
.dropdown-item:hover {
    background-color: #333333; /* Couleur de fond survol pour les items du menu */
}
.btn-orange {
    background-color: #FFA500; /* Couleur orange */
    color: #ffffff;
    border-color: #FFA500;
}
.btn-orange:hover {
    background-color: #ff8c00; /* Orange foncé au survol */
    border-color: #ff8c00;
}
/* Styles pour le bouton de menu responsive */
.navbar-toggler {
    border-color: #ffffff;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
